*{
    background-color: gray;
}
.logopagina {
    width: 140px;
    height: 140px;
}
.divlogo {
    justify-content:left;
    display: flex;
    align-items: left;
}
.boton {
    background-color:black; 
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 50px;
}
.nav{
    align-items: center;
    margin: auto;
    
}
form{
    margin: 20px;
    align-items: right;
    margin: auto;
}

header{
    display: flex;
}
.container-lanzamiento{
    display: flex;
}
.lanzamiento{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.lanzamiento img{
    height: 300px;
    width: 200px;
}


