* {
    background-color: rgb(69, 69, 74);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    box-sizing: border-box;
}

.logopagina {
    width: 140px;
    height: 140px;
}

.divlogo {
    justify-content: left;
    display: flex;
    align-items: left;
}

.boton {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 50px;
}

.nav {
    align-items: center;
    margin: auto;
}

form {
    margin: 20px;
    align-items: right;
    margin: auto;
}

.encabezado {
    background-color: rgb(131, 125, 125);
    padding: 15px;
}

.encabezado h2 {
    background-color: rgb(131, 125, 125);

}

h2 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.h2 {
    padding: 30px;
}

header {
    display: flex;
}

.peliculasp {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    margin: 10px;
}

.tipogenero {
    flex-wrap: wrap;
}

.lanzamiento {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}

.lanzamiento img {
    height: 320px;
    width: 220px;
}

.detalle-header {
    display: flex;
    flex-wrap: wrap;
}

.detallemain {
    flex-wrap: wrap;
}

.detalle {
    margin: 100px;
    display: flex;
}

.detalle_serie_peli {
    flex-wrap: wrap;
}

.imgdetalle {
    height: 320px;
    width: 220px;
}

article {
    display: flex;

}

.favoritos {
    margin: auto;
}

.tipogenero {
    flex-wrap: wrap;
    text-align: center;
}

.generopeli {
    padding: 10px;
    width: 60px;
    height: 30px;
    background-color: white;
    color: black;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    margin: 25px;
}

h6 {
    text-align: center;
}

.genero {
    display: block;
    text-align: center;
    width: 140px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
}

.footer h3 {
    color: white;
    background-color: #333;
}

.titulogenero {
    background-color: rgb(131, 125, 125);
    padding: 15px;
    text-align: center;
}

.imgfooter {
    width: 300px;
    height: 50px;
    background-color: #333;
    padding: 15px;
}

@media (max-width: 420px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    nav {
        flex-direction: column;
        margin: auto;
        padding: 0;
        text-align: justify;
        display: flex;

    }

    form {
        flex-direction: column;
        margin: 5px;
    }
    .detalle {
        flex-direction: column;
    }
}



.detalle-imagen {
    max-width: 220px;
}

.barra-busqueda {
    color: black;
}

.container{
    display: block;
    flex-direction: row;
    padding: 10px;
}

.tituPelis{
    width: 220px;
}

.tituSeries{
    width: 220px;
}

#fotojs{
    height: 320px;
    width: 220px;
}

#pelicula-2023{
    justify-content: space-between;
}

#series{
    justify-content: space-between;
}

#detallearticle{
    display: block;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
}

#detallereco{
    display: block;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

#recopelis{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 10px;
}

#recoserie{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding-top: 10px;
}

#ajs{
    align-items: center;
}

.busque{
    display: flex;
    flex-wrap: wrap;
    max-width: 220px;
}

.resulttv{
    margin: 10px;
}

.resultPeli{
    margin: 10px;
}

